* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06em;
    -webkit-tap-highlight-color: transparent;
  }

html {
    scroll-behavior: smooth;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .App {
  background: url("./assets/images/trianglify-lowres.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  width: 100%;
  text-align: center;
}
